.homePage {
    background-image: url('https://assets-prd.ignimgs.com/2024/02/02/all-pokemon-games-switch-1706832326621.png?width=1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}